body.MyWebsite{


font-family: Arial, sans-serif;
color:White;
margin:0;
font-size: 50px;
padding:0;
background-color: white;
text-align:center;

}
footer{

color: wheat;

}
body.BSAI25031-Home{

background-color: goldenrod;


}
body.BSAI25031-Home header{

background-color: green;


}
body.BSAI25031-about{






}

body.BSAI25031-about  header{
color: burlywood;

}
body.BSAI25031-Product{


color: chartreuse;



}

body.BSAI25031-Product header{

color: deepskyblue;

body.MyWebsite{


background-color: firebrick;

}


}
.items img{

display: block;
margin: 0 ;
margin-left: 10px;
color: azure;
}
video{
    position: fixed;
    top:0;
    left: 0;
      width: 100%;
    height: 100%;
    filter: brightness(0.2);
    object-fit: cover;
   z-index: -1;
}
video2{
    position: fixed;
    top:0;
  left: 0;
    width: 100%;
    filter: brightness(0.1);
    height: 100%;
    object-fit: cover;
   z-index: -1;
}
video4{
    position: fixed;
    top:0;
  left: 0;
    width: 100%;
    filter: brightness(0.01);
    height: 100%;
    object-fit: cover;
   z-index: -1;
}